.contact-section {
  margin: auto;
  padding-bottom: 100px;
  margin-top: 100px;
  position: relative;
  z-index: 2;
  background-color: var(--backgroundColor);
}

.contact-section h3 {
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.contact-flex {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.contact-flex h4 {
  font-weight: 500;
  margin: 0 0 10px 0;
  opacity: 0.6;
  font-size: 22px;
}

.contact-box {
  display: flex;
  flex-direction: column;
}

.contact-flex p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.6;
}

.contact-flex a:not(.contact-social) {
  font-size: 18px;
}

a.contact-social {
  font-size: 25px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}

.footer-bottom {
  margin-top: 80px;
  padding-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.footer-content h2 {
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  color: #fff;
  opacity: 0.8;
}

.footer-content h2>span {
  color: var(--accentColor);
  font-weight: 500;
}

.footer-content h5 {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  opacity: 0.5;
}

@media only screen and (max-width: 1600px) {
  .contact-section h3 {
    font-size: 50px;
  }
}


@media only screen and (max-width: 1300px) {
  .contact-section h3 {
    font-size: 40px;
  }

  .contact-box h2 {
    font-size: 18px;
  }

  a.contact-social {
    font-size: 20px;
  }

  .contact-flex p {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 900px) {
  .contact-flex {
    flex-direction: column;
    gap: 40px;
  }

  .contact-flex p {
    margin-bottom: 0px;
  }

  .contact-flex h4 {
    margin-top: 20px;
  }

  .contact-section {
    margin-top: 50px;
    padding-bottom: 50px;
  }

  .contact-container {
    width: calc(100% - 25px);
  }
}